<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-7 animated fadeInRight">
      <div class="mail-box-header">
        <h2>
          View Invoice
        </h2>
      </div>
      <div class="mail-box">
        <div class="mail-body">
          <form action="" method="get">
            <div class="col-sm-6 col-sm-push-6">
              <div class="form-group">
                <label class="control-label" for="invoiceNo">Invoice No:</label>
                <input type="text" name="invoiceNo" id="invoiceNo"
                       [(ngModel)]="invoice.no" [readonly]="isReadonly"
                       class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="dcNo">DC No:</label>
                <input type="text" name="dcNo" id="dcNo"
                       [(ngModel)]="invoice.dcNo" [readonly]="isReadonly"
                       class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="date">Date:</label>
                <input type="text" name="date" id="date"
                       [ngModel]="invoice.date | date:'dd-MM-yyyy'" [readonly]="isReadonly"
                       class="form-control">
              </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
              <div class="form-group">
                <label class="control-label" for="clientName">Client Name</label>
                <input type="text" name="clientName"  id="clientName"
                       [ngModel]="invoice.clientName" [readonly]="isReadonly"
                       class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="clientAddress">Client Address</label>
                <textarea name="clientAddress" id="clientAddress"
                          [ngModel]="invoice.clientAddress" [readonly]="isReadonly"
                          class="form-control"
                          rows="3"
                          style="resize: none;"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label" for="clientTIN">Client TIN</label>
                <input type="text" name="clientTIN" id="clientTIN"
                       [ngModel]="invoice.clientTIN" [readonly]="isReadonly"
                       class="form-control">
              </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <textarea name="description" id="description"
                          [(ngModel)]="invoice.description" [readonly]="isReadonly"
                          class="form-control"
                          rows="3"
                          style="resize: none;"></textarea>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <ng-container *ngFor="let invoiceItem of invoice.invoiceItem; let i = index;">

              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="{{ 'item' + i  + 'Description'}}">{{ 'Item ' + invoiceItem.no }}</label>
                      <textarea name="{{ 'item' + i  + 'Description'}}" id="{{ 'item' + i  + 'Description'}}"
                                [ngModel]="invoiceItem.description" class="form-control"
                                [readonly]="isReadonly"
                                rows="5" style="resize: none;"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-4">
                    <div class="form-group text-right">
                      <label class="control-label" for="{{ 'item' + i + 'Quantity'}}">Quantity</label>
                      <input type="text" name="{{ 'item' + i + 'Quantity'}}" id="{{ 'item' + i + 'Quantity'}}"
                             [ngModel]="invoiceItem.quantity"
                             [readonly]="isReadonly"
                             class="form-control text-right">
                    </div>

                  </div>
                  <div class="col-sm-2 col-xs-4 xs-clear-padding-left">
                    <div class="form-group text-right">
                      <label class="control-label" for="{{ 'item' + i + 'UnitPrice'}}">Unit Price</label>
                      <input type="text" name="{{ 'item' + i + 'UnitPrice'}}" id="{{ 'item' + i + 'UnitPrice'}}"
                             [ngModel]="invoiceItem.unitPrice | number:'1.2-2'"
                             [readonly]="isReadonly"
                             class="form-control text-right">
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-4 xs-clear-padding-left">
                    <div class="form-group text-right">
                      <label class="control-label" for="{{ 'item' + i + 'Amount'}}">Amount</label>
                      <input type="text" name="{{ 'item' + i + 'Amount'}}" id="{{ 'item' + i + 'Amount'}}"
                             [ngModel]="invoiceItem.amount | number:'1.2-2'"
                             [readonly]="isReadonly"
                             class="form-control text-right">
                    </div>
                  </div>
                </div>

              </div>

              <div class="clearfix"></div>
              <hr>
            </ng-container>
            <div class="form-horizontal col-sm-6 col-sm-push-6">
              <div class="form-group text-right">
                <label class="col-sm-6 control-label" for="amount">Total Amount</label>
                <div class="col-sm-6">
                  <input type="text" name="amount" id="amount"
                         [ngModel]="invoice.amount | number:'1.2-2'"
                         [readonly]="isReadonly"
                         class="form-control text-right">
                </div>
              </div>
              <div class="form-group text-right">
                <label class="col-sm-6 control-label" for="vatAmount">VAT @ 5%</label>
                <div class="col-sm-6">
                  <input type="text" name="vatAmount" id="vatAmount"
                         [ngModel]="invoice.vatAmount | number:'1.2-2'"
                         [readonly]="isReadonly"
                         class="form-control text-right">
                </div>
              </div>
              <div class="form-group text-right">
                <label class="col-sm-6 control-label" for="grandTotal">Grand Total</label>
                <div class="col-sm-6">
                  <input type="text" name="grandTotal" id="grandTotal"
                         [ngModel]="invoice.grandTotal | number:'1.2-2'"
                         [readonly]="isReadonly"
                         class="form-control text-right">
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
