<div style="display: none">
  <div class="col-lg-12 invoice-preview" id="invoice-preview-tax">
    <div class="invoice-details">
      <div class="col-xs-4" style="padding-left: 0;">
        <h2 class="invoice-heading"><b>Invoice</b></h2>
        <h3>Original for Recipient</h3>
      </div>
      <div class="col-xs-4"> </div>
      <div class="col-xs-4" style="padding-right: 0;">
        <table>
          <colgroup style="width: 100px"></colgroup>
          <colgroup></colgroup>
          <tr>
            <td>Invoice No:</td>
            <td>{{invoice._id}}</td>
          </tr>
          <tr>
            <td>Invoice Date:</td>
            <td>{{invoice.date}}</td>
          </tr>
        </table>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 client-details">
      <div class="col-xs-4" style="padding-left: 0;">
        <h3><b>Details of Recipient:</b></h3>
        <p class="client-address">{{invoice.clientAddress}}</p>
        <div class="col-xs-2 pad-0">State:</div>
        <div class="col-xs-10">Tamil Nadu (33)</div>
        <div class="col-xs-2 pad-0">GSTIN:</div>
        <div class="col-xs-10">33AABCV2833J1ZF</div>
      </div>
      <div class="col-xs-4">
        <h3><b>Details of Consignee:</b></h3>
        <p class="client-address">{{invoice.clientAddress}}</p>
          <div class="col-xs-2 pad-0">State:</div>
          <div class="col-xs-10">Tamil Nadu (33)</div>
          <div class="col-xs-2 pad-0">GSTIN:</div>
          <div class="col-xs-10">33AABCV2833J1ZF</div>
      </div>
      <div class="col-xs-4" style="padding-right: 0;">
        <h3><b>Details of Supplier:</b></h3>
        <p class="client-address">{{"VST Associated Graphics Pvt. Ltd\nNo. 7, Kamarajar Salai, \nThanthai Periyar Nagar, \nChennai - 600 087"}}</p>
          <div class="col-xs-2 pad-0">State:</div>
          <div class="col-xs-10">Tamil Nadu (33)</div>
          <div class="col-xs-2 pad-0">GSTIN:</div>
          <div class="col-xs-10">33AABCV2833J1ZF</div>
      </div>
    </div>
    <div class="clearfix"></div>
    <table class="invoice-item">
      <colgroup></colgroup>
      <colgroup style="width: 52%;"></colgroup>
      <colgroup style="width: 0;"></colgroup>
      <colgroup style="width: 16%;"></colgroup>
      <colgroup style="width: 16%;"></colgroup>
      <colgroup style="width: 16%;"></colgroup>
      <colgroup style="width: 0;"></colgroup>
      <colgroup style="width: 0;"></colgroup>
      <colgroup style="width: 0;"></colgroup>
      <thead>
      <tr>
        <th colspan="2" class="item-desc">DESCRIPTION</th>
        <th class="item-hsn">HSN</th>
        <th class="item-qty">QTY</th>
        <th class="item-rate">RATE</th>
        <th class="item-total">AMT</th>
        <th class="item-gst">CGST</th>
        <th class="item-gst">SGST</th>
        <th class="item-gst">IGST</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let invoiceItem of invoice.items; let i = index;">
        <td class="item-sno">{{(i + 1) + ". "}}</td>
        <td class="item-desc">
          <h3 class="item-name">{{getTitlePart(invoiceItem)}}</h3>
          <p>{{getDescriptionPart(invoiceItem)}}</p>
        </td>
        <td class="item-hsn item-value">
          48026
        </td>
        <td class="item-qty item-value">
          {{invoiceItem.quantity}}
        </td>
        <td class="item-rate item-value currency">{{invoiceItem.unitPrice}}</td>
        <td class="item-total item-value currency">{{invoiceItem.amount}}</td>
        <td class="item-gst item-value currency">9999<p class="item-gst-percent">(6%)</p></td>
        <td class="item-gst item-value currency">9999<p class="item-gst-percent">(6%)</p></td>
        <td class="item-gst item-value currency">9999<p class="item-gst-percent">(0%)</p></td>
      </tr>
      <tr>
        <td class="spacing-cell"></td>
        <td style="border-left: 0;"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sub-total-row">
        <td class="item-sno"></td>
        <td class="item-desc sub-total">Total</td>
        <td class="item-hsn item-value"></td>
        <td class="item-qty item-value"></td>
        <td class="item-rate item-value currency"></td>
        <td class="item-total item-value currency">{{invoice.amount}}</td>
        <td class="item-gst item-value currency">10,000</td>
        <td class="item-gst item-value currency">10,000</td>
        <td class="item-gst item-value currency">10,000</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td rowspan="3" colspan="4" class="invoice-add-details">
          <p class="amount-word-title">Amount chargeable (in words)</p>
          <p class="amount-word">{{getNumberText(invoice.grandTotal)}}</p>
        </td>
        <td colspan="3" class="title sub-total-title">Total Amount Before Tax</td>
        <td colspan="2" class="amount sub-total currency" style="border-right: 1px solid black;">{{invoice.amount}}</td>
      </tr>
      <tr>
        <td colspan="3" class="title gst-component-title">Add - CGST</td>
        <td colspan="2" class="amount gst-component currency" style="border-right: 1px solid black;">
          {{invoice.vatAmount}}
        </td>
      </tr>
      <tr>
        <td colspan="3" class="title gst-component-title">Add - SGST</td>
        <td colspan="2" class="amount gst-component currency" style="border-right: 1px solid black;">
          {{invoice.vatAmount}}
        </td>
      </tr>
      <tr>
        <td rowspan="4" colspan="4" class="bank-details-td">
          <b>BANK DETAILS</b>
          <table style="width: 100%;" class="bank-details">
            <colgroup style="width: 30%;"></colgroup>
            <colgroup style="width: 70%;"></colgroup>
            <tbody>
            <tr>
              <td>Account Name:</td>
              <td>VST Associated Graphics Pvt. Ltd.</td>
            </tr>
            <tr>
              <td>Account Number:</td>
              <td>410700050900021</td>
            </tr>
            <tr>
              <td>Bank:</td>
              <td>Tamilnad Mercantile Bank</td>
            </tr>
            <tr>
              <td>Branch:</td>
              <td>Nerkundram</td>
            </tr>
            <tr>
              <td>IFS Code:</td>
              <td>TMBL0000410</td>
            </tr>
            </tbody>
          </table>
        </td>
        <td colspan="3" class="title gst-component-title">Add - IGST</td>
        <td colspan="2" class="amount gst-component currency" style="border-right: 1px solid black;">
          {{invoice.vatAmount}}
        </td>
      </tr>
      <tr>
        <td colspan="3" class="title gst-title">Total GST</td>
        <td colspan="2" class="amount gst currency" style="border-right: 1px solid black;">{{invoice.vatAmount}}</td>
      </tr>
      <tr class="grand-total-row">
        <td colspan="3" class="title grand-total-title">Total Amount After Tax</td>
        <td colspan="2" class="amount grand-total currency" style="border-right: 1px solid black;">
          {{invoice.grandTotal}}
        </td>
      </tr>
      <tr class="grand-total-row">
        <td colspan="4" class="title gst-component-title" style="border-bottom: 1px solid black; padding-bottom: 10px;">
          GST Payable on Reverse Charge
        </td>
        <td colspan="1" class="amount gst-component currency"
            style="border-right: 1px solid black; border-bottom: 1px solid black; padding-bottom: 10px;">NA
        </td>
      </tr>
      </tfoot>
    </table>
    <table class="invoice-footer">
      <colgroup style="width: 55%"></colgroup>
      <colgroup style="width: 45%"></colgroup>
      <tr>
        <td class="supplier-details" style="vertical-align: bottom">
          <h3><b>Thank You For Your Business!</b></h3>
          <!--<b>Details of Supplier</b>-->
          <!--<table style="width: 100%;">-->
            <!--<colgroup style="width: 30%;"></colgroup>-->
            <!--<colgroup style="width: 70%;"></colgroup>-->
            <!--<tbody>-->
            <!--<tr>-->
              <!--<td>Account Name:</td>-->
              <!--<td>VST Associated Graphics Pvt. Ltd.</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>Account Number:</td>-->
              <!--<td>410700050900021</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>Bank:</td>-->
              <!--<td>Tamilnad Mercantile Bank</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>Branch:</td>-->
              <!--<td>Nerkundram</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>IFS Code:</td>-->
              <!--<td>TMBL0000410</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>GST:</td>-->
              <!--<td>22AABCV2833JZ1F</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        </td>
        <td class="signature">
          <p class="text-center">For <b>VST ASSOCIATED GRAPHICS PRIVATE LIMITED</b></p>
          <br>
          <hr>
          <p class="name text-center">S.M. VEDHACHALAM</p>
          <p class="designation text-center" style="margin-bottom: 0;"><span class="eoe-spacing"></span>Managing
            Director<span class="eoe">E & OE</span></p>
        </td>
      </tr>
    </table>
  </div>
  <button class="btn btn-primary" (click)="print()">Print</button>
</div>
