<div class="col-md-7">
  <p>M/s {{ activeInvoice.clientName}}</p>
  <p>{{ activeInvoice.clientAddress }}</p>
  <p>TIN: {{ activeInvoice.clientTIN}}</p>
</div>
<div class="col-md-5">
  <p>Invoice No: {{ activeInvoice.no }}</p>
  <p>DC No: 2001</p>
  <p>Date: {{ activeInvoice.date | date: 'dd-MM-yyyy' }}</p>
</div>

<div class="col-md-12">
  <table class="table">
    <thead>
    <tr>
      <td class="col-md-1 bill-item-no">No</td>
      <td class="col-md-5 bill-item-description">Description</td>
      <td class="col-md-2 bill-item-amount">Quantity</td>
      <td class="col-md-2 bill-item-quantity">Unit Price</td>
      <td class="col-md-2 bill-item-total">Total</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invoiceItem of activeInvoice.invoiceItem">
      <td>{{ invoiceItem.no }}</td>
      <td>{{ invoiceItem.description }}</td>
      <td class="data-currency">{{ invoiceItem.quantity }}</td>
      <td class="data-currency">{{ invoiceItem.unitPrice }}</td>
      <td class="data-currency">{{ invoiceItem.getAmount() }}</td>
    </tr>
    </tbody>
  </table>
</div>
