<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-9 animated fadeInRight">
      <div class="mail-box-header">
        <h2>
          Invoice
        </h2>
        <div class="mail-tools tooltip-demo m-t-md">
          <div class="btn-group pull-right">
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

          </div>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-plus"></i></button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Details" [routerLink]="['/invoice-editor']"><i class="fa fa-eye"></i></button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
        </div>
      </div>
      <div class="mail-box table-responsive">

        <table class="table table-hover table-mail">
          <thead>
          <tr>
            <td class="col-md-1 bill-no">No</td>
            <td class="col-md-1 bill-date">Date</td>
            <td class="col-md-7 bill-client">Client</td>
            <td class="col-md-1 bill-total hidden-xs">Amount</td>
            <td class="col-md-1 bill-total hidden-xs">VAT</td>
            <td class="col-md-1 bill-total">Total</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let invoice of invoiceList" (click)="setActiveInvoice(invoice)" [ngClass]="{active: invoice == activeInvoice}">
            <td>{{ invoice.no }}</td>
            <td>{{ invoice.date | date: 'dd-MM-yyyy' }}</td>
            <td>{{ invoice.clientName }}</td>
            <td class="data-currency hidden-xs">{{ invoice.amount }}</td>
            <td class="data-currency hidden-xs">{{ invoice.vatAmount }}</td>
            <td class="data-currency">{{ invoice.grandTotal }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
