
.h1-main-page {
  display: inline-block;
  padding-right: 5px;
}

.btn-add-item {
  position: relative;
  top: -3px;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.category-by-status {
  list-style: none;
  margin: 8px 0 10px 0;
  padding: 0;
  font-size: 13px;
  color: #666;
  float: left;
}

.category-by-status li {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

//Invoice List
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  color: #fff;
  background-color: #0073AA;
}

.data-table {
  background: #fff;
  border: 1px solid #ddd;
}

.thead-inverse {
  color: #fff;
  background-color: #23282D;
}

.bill-no {
  min-width: 70px;
}

.bill-date {
  min-width: 110px;
}

.bill-amount {
  min-width: 100px;
}

.bill-vat {
  min-width: 70px;
}

.bill-total {
  min-width: 100px;
}

.data-currency {
  text-align: right;
}

thead {
  & .bill-amount, & .bill-vat, & .bill-total {
    text-align: center;
  }
}

//Invoice Details

.preserve-format {
  white-space: pre;
}
