<div class="col-lg-7">
  <div class="mail-box-header">
    <h2>
      View Invoice {{invoiceNo == '' ? '' : '('+invoiceNo+')'}}
    </h2>
    <div class="mail-tools tooltip-demo m-t-md">
      <div class="btn-group" role="group" aria-label="toolbox">
        <button type="button" class="btn btn-white"><span class="fa fa-copy"></span>
        </button>
        <button type="button" class="btn btn-white"><span class="fa fa-pencil"></span>
        </button>
      </div>
      <div class="btn-group pull-right" role="group" aria-label="navigation">
        <button class="btn btn-white" (click)="backToInvoiceList()">
          <span class="fa fa-bars"></span>
        </button>
        <button class="btn btn-white"
                (click)="prevInvoice()">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button class="btn btn-white"
                (click)="nextInvoice()">
          <i class="fa fa-arrow-down"></i>
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="mail-box">
    <div class="mail-body">
      <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="col-sm-6 col-sm-push-6">
          <div class="form-group">
            <label class="control-label" for="no">Invoice No:</label>
            <input type="text" id="no"
                   formControlName="no"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="dcNo">DC No:</label>
            <input type="text" id="dcNo"
                   formControlName="dcNo"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="date">Date:</label>
            <input type="text" id="date"
                   formControlName="date"
                   class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <div class="form-group">
            <label class="control-label" for="clientName">Client Name</label>
            <input type="text" id="clientName"
                   formControlName="clientName"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="clientAddress">Client Address</label>
            <textarea id="clientAddress"
                      formControlName="clientAddress"
                      class="form-control"
                      rows="3"
                      style="resize: none;"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label" for="clientTIN">Client TIN</label>
            <input type="text" id="clientTIN"
                   formControlName="clientTIN"
                   class="form-control">
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <textarea id="description"
                      formControlName="description"
                      class="form-control"
                      rows="3"
                      style="resize: none;"></textarea>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <ng-container formArrayName="invoiceItems">
          <ng-container *ngFor="let invoiceItem of invoiceItems.controls; let i = index;" [formGroupName]="i">

            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" for="{{ 'item' + i  + 'Description'}}">{{ 'Item ' + (i+1)}}</label>
                    <textarea id="{{ 'item' + i  + 'Description'}}"
                              formControlName="description"
                              class="form-control"
                              rows="5" style="resize: none;"></textarea>
                  </div>
                </div>
                <div class="col-sm-2 col-xs-4">
                  <div class="form-group text-right">
                    <label class="control-label" for="{{ 'item' + i + 'Quantity'}}">Quantity</label>
                    <input type="number" id="{{ 'item' + i + 'Quantity'}}"
                           formControlName="quantity"
                           class="form-control text-right">
                  </div>
                </div>
                <div class="col-sm-2 col-xs-4 xs-clear-padding-left">
                  <div class="form-group text-right">
                    <label class="control-label" for="{{ 'item' + i + 'UnitPrice'}}">Unit Price</label>
                    <input type="number" id="{{ 'item' + i + 'UnitPrice'}}"
                           formControlName="unitPrice"
                           class="form-control text-right">
                  </div>
                </div>
                <div class="col-sm-2 col-xs-4 xs-clear-padding-left">
                  <div class="form-group text-right">
                    <label class="control-label" for="{{ 'item' + i + 'Amount'}}">Amount</label>
                    <input type="text" id="{{ 'item' + i + 'Amount'}}"
                           formControlName="itemAmount"
                           class="form-control text-right">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" (click)="onAddInvoiceItem(i)"><span class="fa fa-plus"></span> Add</button>
                      <button type="button" class="btn btn-default" (click)="onDuplicateInvoiceItem(i)"><span class="fa fa-copy"></span> Duplicate</button>
                      <button type="button" class="btn btn-default" (click)="onDeleteInvoiceItem(i)"><span class="fa fa-times"></span> Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr>
          </ng-container>
        </ng-container>
        <div class="col-sm-6">
          <button type="submit" [disabled]="!invoiceForm.valid" class="btn btn-primary">Save Invoice</button>
        </div>
        <div class="form-horizontal col-sm-6">
          <div class="form-group text-right">
            <label class="col-sm-6 control-label" for="amount">Total Amount</label>
            <div class="col-sm-6">
              <input type="text" id="amount"
                     formControlName="amount"
                     class="form-control text-right">
            </div>
          </div>
          <div class="form-group text-right">
            <label class="col-sm-6 control-label" for="vatAmount">VAT @ 5%</label>
            <div class="col-sm-6">
              <input type="text" id="vatAmount"
                     formControlName="vatAmount"
                     class="form-control text-right">
            </div>
          </div>
          <div class="form-group text-right">
            <label class="col-sm-6 control-label" for="grandTotal">Grand Total</label>
            <div class="col-sm-6">
              <input type="text" id="grandTotal"
                     formControlName="grandTotal"
                     class="form-control text-right">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </form>
      <p>{{invoiceForm.value | json}}</p>
    </div>
  </div>
</div>


