@media (min-width: 1200px) {
  .form-main-div {
    width: 950px;
  }
}

.invoice-item-editor {

  .item-control-div {
    padding-left: 15px;
    padding-right: 15px;
    width: 40px;
    float: left;
  }

  .item-control {
    margin-top: 23px;
    span.fa {
      line-height: 1.6;
    }
  }

  .item-description-div {
    margin-left: 70px;
    padding-right: 15px;
  }
  .item-description {
    line-height: 1.7;
  }
}

hr {
  margin-top: 5px;
  margin-bottom: 15px;
}
