<div class="col-lg-7 form-main-div">
  <div class="mail-box-header">
    <h2>
      View Invoice
    </h2>
    <div class="mail-tools tooltip-demo m-t-md">
      <div class="btn-group pull-right" role="group" aria-label="toolbox">
        <button type="button" class="btn btn-white" (click)="navigateList()">
          <span class="fa fa-bars"></span> List
        </button>
        <button type="button" class="btn btn-white" (click)="nextInvoice()">
          <span class="fa fa-arrow-up"></span>
        </button>
        <button type="button" class="btn btn-white" (click)="previousInvoice()">
          <span class="fa fa-arrow-down"></span>
        </button>
      </div>
    </div>
    <!--<div class="mail-tools tooltip-demo m-t-md">-->
    <!--<div class="btn-group" role="group" aria-label="toolbox">-->
    <!--<button type="button" class="btn btn-white"><span class="fa fa-copy"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-white"><span class="fa fa-pencil"></span>-->
    <!--</button>-->
    <!--</div>-->
    <!--<div class="btn-group pull-right" role="group" aria-label="navigation">-->
    <!--<button class="btn btn-white" (click)="backToInvoiceList()">-->
    <!--<span class="fa fa-bars"></span>-->
    <!--</button>-->
    <!--<button class="btn btn-white"-->
    <!--(click)="prevInvoice()">-->
    <!--<i class="fa fa-arrow-up"></i>-->
    <!--</button>-->
    <!--<button class="btn btn-white"-->
    <!--(click)="nextInvoice()">-->
    <!--<i class="fa fa-arrow-down"></i>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <div class="clearfix"></div>
  </div>
  <div class="mail-box invoice-editor">
    <div class="mail-body">
      <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="_id">Invoice No:</label>
            <input type="text" id="_id"
                   formControlName="_id"
                   class="form-control"
                   readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="date">Date:</label>
            <input type="date" id="date"
                   formControlName="date"
                   class="form-control">
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="recipientClientList">Client list for Recipient</label>
                <select id="recipientClientList"
                        formControlName="recipientClientList"
                        class="form-control">
                  <option *ngFor="let client of clientList" [value]="client.name">{{client.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="recipientName">Recipient Name</label>
                <input type="text" id="recipientName"
                       formControlName="recipientName"
                       class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="recipientAddress">Recipient Address</label>
                <textarea id="recipientAddress"
                          formControlName="recipientAddress"
                          class="form-control"
                          rows="3"
                          style="resize: none;"></textarea>
              </div>
              <div class="row">
                <div class="form-group col-xs-8">
                  <label class="control-label" for="recipientState">Recipient State</label>
                  <input type="text" id="recipientState"
                         formControlName="recipientState"
                         class="form-control">
                </div>
                <div class="form-group col-xs-4 xs-clear-padding-left">
                  <label class="control-label" for="recipientStateCode">Code</label>
                  <input type="text" id="recipientStateCode"
                         formControlName="recipientStateCode"
                         class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="recipientGSTIN">Recipient GSTIN</label>
                <input type="text" id="recipientGSTIN"
                       formControlName="recipientGSTIN"
                       class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="consigneeClientList">Client list for Consignee</label>
                <select id="consigneeClientList"
                        formControlName="consigneeClientList"
                        class="form-control">
                  <option *ngFor="let client of clientList" [value]="client.name">{{client.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="consigneeName">Consignee Name</label>
                <input type="text" id="consigneeName"
                       formControlName="consigneeName"
                       class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="consigneeAddress">Consignee Address</label>
                <textarea id="consigneeAddress"
                          formControlName="consigneeAddress"
                          class="form-control"
                          rows="3"
                          style="resize: none;"></textarea>
              </div>
              <div class="row">
                <div class="form-group col-xs-8">
                  <label class="control-label" for="consigneeState">Consignee State</label>
                  <input type="text" id="consigneeState"
                         formControlName="consigneeState"
                         class="form-control">
                </div>
                <div class="form-group col-xs-4 xs-clear-padding-left">
                  <label class="control-label" for="consigneeStateCode">Code</label>
                  <input type="text" id="consigneeStateCode"
                         formControlName="consigneeStateCode"
                         class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="consigneeGSTIN">Consignee GSTIN</label>
                <input type="text" id="consigneeGSTIN"
                       formControlName="consigneeGSTIN"
                       class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <ng-container formArrayName="items">
          <ng-container *ngFor="let invoiceItem of items.controls; let i = index;" [formGroupName]="i">
            <div class="col-md-12 col-sm-12 invoice-item-editor">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="item-control-div">
                      <div class="form-group">
                        <div class="btn-group-vertical item-control" role="group">
                          <button type="button" class="btn btn-default" (click)="onAddInvoiceItem(i)">
                            <span class="fa fa-plus"></span>
                          </button>
                          <button type="button" class="btn btn-default" (click)="onDuplicateInvoiceItem(i)">
                            <span class="fa fa-copy"></span>
                          </button>
                          <button type="button" class="btn btn-default" (click)="onDeleteInvoiceItem(i)">
                            <span class="fa fa-times"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="item-description-div">
                      <div class="form-group">
                        <label class="control-label" for="{{ 'item' + i  + 'Description'}}">{{ 'Item ' + (i+1)}}</label>
                        <textarea id="{{ 'item' + i  + 'Description'}}"
                                  formControlName="description"
                                  class="form-control item-description" rows="4" style="resize: none;"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-3 col-xs-4">
                      <div class="form-group text-right">
                        <label class="control-label" for="{{ 'item' + i + 'hsn'}}">HSN</label>
                        <input type="text" id="{{ 'item' + i + 'hsn'}}"
                               formControlName="hsn"
                               class="form-control text-right">
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-4 xs-clear-padding-left">
                      <div class="form-group text-right">
                        <label class="control-label" for="{{ 'item' + i + 'Quantity'}}">Quantity</label>
                        <input type="number" id="{{ 'item' + i + 'Quantity'}}"
                               formControlName="quantity"
                               class="form-control text-right">
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-4 xs-clear-padding-left">
                      <div class="form-group text-right">
                        <label class="control-label" for="{{ 'item' + i + 'UnitPrice'}}">Unit Price</label>
                        <input type="number" id="{{ 'item' + i + 'UnitPrice'}}"
                               formControlName="unitPrice"
                               class="form-control text-right">
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-4 xs-clear-padding-left hidden-xs">
                      <div class="form-group text-right">
                        <label class="control-label" for="{{ 'item' + i + 'Amount'}}">Amount</label>
                        <input type="text" id="{{ 'item' + i + 'Amount'}}"
                               [value]="invoiceItem.get('amount').value | number: '1.0-0'"
                               class="form-control text-right"
                               readonly disabled>
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="form-group text-right">
                        <label class="control-label" for="{{ 'item' + i + 'cgst'}}">CGST</label>
                        <input type="number" id="{{ 'item' + i + 'cgst'}}"
                               formControlName="cgst"
                               class="form-control text-right">
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-4 xs-clear-padding-left">
                      <div class="form-group text-right">
                        <label class="control-label" for="{{ 'item' + i + 'sgst'}}">SGST</label>
                        <input type="number" id="{{ 'item' + i + 'sgst'}}"
                               formControlName="sgst"
                               class="form-control text-right">
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-4 xs-clear-padding-left">
                      <div class="form-group text-right">
                        <label class="control-label" for="{{ 'item' + i + 'igst'}}">IGST</label>
                        <input type="number" id="{{ 'item' + i + 'igst'}}"
                               formControlName="igst"
                               class="form-control text-right">
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-4 xs-clear-padding-left hidden-xs">
                      <div class="form-group text-right">
                        <label class="control-label" for="{{ 'item' + i + 'tax'}}">Total Tax</label>
                        <input type="text" id="{{ 'item' + i + 'tax'}}"
                               [value]="invoiceItem.get('itemTax').value | number: '1.2-2'"
                               class="form-control text-right"
                               readonly disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr>
          </ng-container>
        </ng-container>
        <div class="form-horizontal col-md-4 col-md-push-8 col-sm-6">
          <div class="form-group text-right">
            <label class="col-sm-6 control-label" for="amount">Total Amount</label>
            <div class="col-sm-6">
              <!--<app-formatted-readonly-number id="amount"-->
              <!--formControlName="amount" [format]="'1.2-2'"></app-formatted-readonly-number>-->
              <input type="text" id="amount"
                     [value]="invoiceForm.get('amount').value | number: '1.2-2'"
                     class="form-control text-right"
                     readonly disabled>
            </div>
          </div>
          <div class="form-group text-right">
            <label class="col-sm-6 control-label" for="totalGSTValue">GST</label>
            <div class="col-sm-6">
              <!--<app-formatted-readonly-number id="totalGSTValue"-->
              <!--formControlName="totalGSTValue" [format]="'1.2-2'"></app-formatted-readonly-number>-->
              <input type="text" id="totalGSTValue"
                     [value]="invoiceForm.get('totalGSTValue').value | number: '1.2-2'"
                     class="form-control text-right"
                     readonly disabled>
            </div>
          </div>
          <div class="form-group text-right">
            <label class="col-sm-6 control-label" for="grandTotal">Grand Total</label>
            <div class="col-sm-6">
              <!--<app-formatted-readonly-number id="grandTotal"-->
              <!--formControlName="grandTotal" [format]="'1.2-2'"></app-formatted-readonly-number>-->
              <input type="text" id="grandTotal"
                     [value]="invoiceForm.get('grandTotal').value | number: '1.2-2'"
                     class="form-control text-right"
                     readonly disabled>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4 col-sm-6">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      <div class="col-md-4 col-md-pull-4 col-sm-6" style="padding-top: 15px;">
        <!--<button type="submit" class="btn btn-primary">Save</button>-->
        <button type="button" class="btn btn-primary" [disabled]="!invoiceService.active || invoiceForm.dirty"
                (click)="onPrint()">Print
        </button>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="fullRounding"> Enable full rounding
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="copiesOption" [(ngModel)]="copies" [value]="2" [checked]="copies === 2">
            Copies 1 & 2
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="copiesOption" [(ngModel)]="copies" [value]="3">
            Copies 1, 2 & 3
          </label>
        </div>
      </div>
      <div class="clearfix"></div>
      <app-invoice-gst-print #previewtax [invoice]="invoiceService.active" [fullRounding]="fullRounding"
                             [copies]="copies"></app-invoice-gst-print>
    </div>
  </div>
</div>
