<div class="col-lg-7">
  <div class="mail-box-header">
    <h2>
      View Client
    </h2>
    <div class="mail-tools tooltip-demo m-t-md">
      <div class="btn-toolbar" role="toolbar" aria-label="toolbox">
        <div class="btn-group" role="group" aria-label="New">
          <button type="button" class="btn btn-white" (click)="navigateBack()">
            <span class="fa fa-arrow-left"></span> Back
          </button>
        </div>
        <div class="btn-group " role="group" aria-label="">
          <button type="button" class="btn btn-white" (click)="navigateEdit()">
            <span class="fa fa-pencil"></span>
          </button>
          <button type="button" class="btn btn-white" (click)="viewDetails()">
            <span class="fa fa-copy"></span>
          </button>
          <button type="button" class="btn btn-white" (click)="deleteClient()">
            <span class="fa fa-times"></span>
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mail-box">
    <div class="mail-body">
      <div class="col-sm-6 form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label">Company Name</label>
          <label class="col-sm-8 form-control-static">{{client.name}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Nick Name</label>
          <label class="col-sm-8 form-control-static">{{client.nickName}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Address </label>
          <label class="col-sm-8 form-control-static client-address">{{client.getAddress()}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">State</label>
          <label class="col-sm-8 form-control-static">{{client.state}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Phone</label>
          <label class="col-sm-8 form-control-static">{{client.phone}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">TIN</label>
          <label class="col-sm-8 form-control-static">{{client.tin}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">GSTIN</label>
          <label class="col-sm-8 form-control-static">{{client.gstin}}</label>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
