<div class="col-lg-7">
  <div class="mail-box-header">
    <h2>
      View Client
    </h2>
    <div class="mail-tools tooltip-demo m-t-md">
      <div class="btn-group" role="group" aria-label="toolbox">
        <button type="button" class="btn btn-white" (click)="navigateBack()" >
          <span class="fa fa-arrow-left"></span> Back
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="mail-box">
    <div class="mail-body">
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="name">Company Name</label>
            <input type="text" id="name"
                   formControlName="name"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="nickName">Nick Name</label>
            <input type="text" id="nickName"
                   formControlName="nickName"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="addrl1">Address Line 1</label>
            <input type="text" id="addrl1"
                   formControlName="addrl1"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="addrl2">Address Line 2</label>
            <input type="text" id="addrl2"
                   formControlName="addrl2"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="state">State</label>
            <input type="text" id="state"
                   formControlName="state"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="city">City</label>
            <input type="text" id="city"
                   formControlName="city"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="pincode">Pincode</label>
            <input type="text" id="pincode"
                   formControlName="pincode"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="phone">Phone</label>
            <input type="text" id="phone"
                   formControlName="phone"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="text" id="email"
                   formControlName="email"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="tin">TIN</label>
            <input type="text" id="tin"
                   formControlName="tin"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="gstin">GSTIN</label>
            <input type="text" id="gstin"
                   formControlName="gstin"
                   class="form-control">
          </div>
          <button type="submit" [disabled]="!clientForm.valid" class="btn btn-primary pull-right">Save</button>
          <div>

          </div>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


