<div class="col-lg-7">
  <div class="mail-box-header">
    <h2>
      View Client
    </h2>
    <div class="mail-tools tooltip-demo m-t-md">
      <div class="btn-group" role="group" aria-label="toolbox">
        <button type="button" class="btn btn-white"><span class="fa fa-copy"></span>
        </button>
        <button type="button" class="btn btn-white"><span class="fa fa-pencil"></span>
        </button>
      </div>
      <div class="btn-group pull-right" role="group" aria-label="navigation">
        <button class="btn btn-white" [routerLink]="['/client']">
          <span class="fa fa-bars"></span>
        </button>
        <button class="btn btn-white">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button class="btn btn-white">
          <i class="fa fa-arrow-down"></i>
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="mail-box">
    <div class="mail-body">
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="cName">Company Name</label>
            <input type="text" id="cName"
                   formControlName="cName"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="addrl1">Address Line 1</label>
            <input type="text" id="addrl1"
                   formControlName="addrl1"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="addrl2">Address Line 2</label>
            <input type="text" id="addrl2"
                   formControlName="addrl2"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="state">State</label>
            <input type="text" id="state"
                   formControlName="state"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="city">City</label>
            <input type="text" id="city"
                   formControlName="city"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="phone">Phone</label>
            <input type="text" id="phone"
                   formControlName="phone"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="text" id="email"
                   formControlName="email"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="tin">TIN</label>
            <input type="text" id="tin"
                   formControlName="tin"
                   class="form-control">
          </div>
        </div>
        <hr>
        <div class="col-sm-6">
          <button type="submit" [disabled]="!clientForm.valid" class="btn btn-primary">Save Invoice</button>
        </div>
      </form>
      <p>{{clientForm.value | json}}</p>
    </div>
  </div>
</div>


